<section class="sobre container" id="sobre">
    <p>{{ site.about_section.description }}</p>
    <h1>Google Developers Study Jams</h1>
    <p>Study Jams são grupos de estudo que funcionam numa série de eventos gratuitos, organizados pela comunidade, para explorar determinados temas. Pelo segundo ano, o GDG Aracaju está participando! Com parceria da Udacity, seguiremos o curso Android for Beginners.</p>
    <p>Começaremos a temporada no dia <a href="http://www.meetup.com/pt-BR/GDG-Aracaju/events/228405725/" target="_blank">12 de março, com um evento aberto a comunidade</a> recheado de <a href="#palestras">ótimas palestras</a>, onde iremos abrir as inscrições para o curso. Temos outro dia aberto previsto para abril, então fiquem preparados!</p>
    <p>Gostou da ideia? Está começando agora no desenvolvimento de apps e disponível nessas datas? Então vem com a gente! Mas inscreva-se apenas se você tem certeza de que poderá comparecer!</p>
</section>