<section class="sobre container" id="sobre">
    <p>{{ site.about_section.description }}</p>
    <h1>Google Developers Study Jams</h1>
    <p>Study Jams são grupos de estudo que funcionam numa série de eventos gratuitos, organizados pela comunidade, para explorar determinados temas. Pelo segundo ano, o GDG Aracaju está participando! Com parceria da Udacity, seguiremos o curso Android for Beginners.</p>
    <p>Começamos a temporada no dia <a href="http://www.meetup.com/pt-BR/GDG-Aracaju/events/228405725/" target="_blank">12 de março, com um evento aberto a comunidade</a> recheado de <a href="#palestras">ótimas palestras</a>, onde abrimos as inscrições para o curso. A demanda foi maior do que podemos atender neste momento, então o curso está sem vagas disponíveis.
    <p>No dia <b><a href="#0204">02/04</a></b> teremos outro dia aberto recheado de palestras interessantes sobre Android, Firebase e Segurança, então fiquem preparados!</p>
    <img src="/img/jam_2016.jpg" width="100%"/>
</section>